h2{
  font-size: 40px;
}
.fa-plus{
  color:green;
}
.fa-minus{
  color:red;
}
.fa-trash{
  color:darkslategrey;
}
.cart-item-image{
  height: 80px;
  width: 80px;
}
.cart-heading{
  background-color: black!important;
  color: #13df00 !important;
}